@font-face {
  font-family: 'Righteous';
  src: url('/fonts/Righteous.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Righteous';
}

a {
  text-decoration: none; /* Премахване на подчертаването за всички линкове */
  color: inherit; /* Унаследяване на цвета от родителя */
}
